li {
    list-style: none;
}

.sites {
    color: blueviolet;
    text-decoration: none;
}

.link2 {
    color: rgb(165, 44, 44);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 0, 0);
}

a:active {
    background-color: yellow;
}

a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

a.carros {
    color: #18d312;
}

a.motos {
    color: rgb(32, 121, 255);
}

#c1{
    color: blue;
}

#c2{
    color: red;
}

#s1{
    color: yellow;
}

#s2{
    color: green;
}