body{
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 90px;
    margin-right: 450px;
    margin-bottom: 10px;
    margin-left: 450px;
}

p{
    background: green;
    padding-left: 100px;
    padding-right: 90px;
    border-width: 5px;
    border-style: dashed;
    border-color: blue;
}

h1{
    background: pink;
    padding-left: 100px;
    padding-right: 90px;
    border-width: thick;
    border-style: solid;
    border-color: red;

    border-bottom-width: thick;
    border-bottom-style: solid;
    border-top-color: blue;

    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: green;

    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: orange;
}

h2{
    background: blue;
    padding-left: 100px;
    padding-right: 90px;
    border-width: 15px;
    border-style: outset;
    border-color: yellow;
}

